<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fishing Game</title>
    <link rel="icon" href="asset/favicon.svg"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5000065854496039"
     crossorigin="anonymous"></script>
</head>

<body>

    <!-- START APP -->
    <div id="app">
        <ul class="nav justify-content-end">
            <!-- <li class="nav-item">
                <a class="nav-link text-white" href="#" @click="setPage('home')">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#" @click="setPage('price')">price</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link text-white" href="#" @click="setPage('comment')">comment</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link text-white" href="#" @click="toggleBackground()">{{!isDarkmode?'dark mode':'light mode'}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" title="ช่วยค่ากาแฟ">donate</a>
            </li>
        </ul>

        <div v-if="!isRun" class="win-layout pt-5">
            <div class="text-center mt-5 pt-5">
                <div class="mt-5" style="font-size: 100px;">{{fishs[fishLv-1]}}</div>
                <div style="color: #fff; font-size: 25px; margin-top: -20px; font-weight: bold;">+1</div>
                <div class="text-center">
                    <button type="button" class="btn btn-info btn-lg mt-5 px-5 text-white" @click="play()">OK</button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Thank You 😊</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <div style="color: rgb(17, 124, 223); font-weight: bold; flex: 20px;">PromptPay</div>
                        <div>
                            <img width="200" src="./asset/pp.jpg" alt="PromptPay">
                        </div>
                        <div style="margin-top: 20px; margin-bottom: 20px; font-size: 20px; color: rgb(138, 138, 138);">
                            or</div>
                        <a href="https://www.paypal.com/paypalme/naruedom" target="_blank"
                            style="color: rgb(17, 124, 223); font-size: 25px; font-weight: bold;">PayPal</a>
                        <div class="text-end mt-5">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="page=='home'" @mousedown="down" @mouseup="up">

            <!-- <pre style="color: white;"> -->
            <!-- stick: {{stick}},
        fish: {{fish}},
        isDown: {{isDown}},
        percent: {{percent}}, -->
            <!-- fishPattern: {{fishPattern.toString()}}, -->
            <!-- fishPatternIndex: {{fishPatternIndex}}, -->
            <!-- </pre> -->

            <div style="text-align: center;">
                <span style="font-size: 16px; font-weight: bold; color: white; margin-right: 10px;">Rod</span>
                <button class="btn btn-warning text-white mx-1 py-1 px-3" @click="setRod(1)">Lv.1</button>
                <button class="btn btn-warning text-white mx-1 py-1 px-3" @click="setRod(2)">Lv.2</button>
                <button class="btn btn-warning text-white mx-1 py-1 px-3" @click="setRod(3)">Lv.3</button>
                <button class="btn btn-warning text-white mx-1 py-1 px-3" @click="setRod(4)">Lv.4</button>
            </div>
            <br>
            <div style="text-align: center;">
                <span style="font-size: 16px; font-weight: bold; color: white; margin-right: 10px;">Fish</span>
                <button class="btn btn-primary mx-1 py-1 px-3" @click="setFish(1)">Lv.1</button>
                <button class="btn btn-primary mx-1 py-1 px-3" @click="setFish(2)">Lv.2</button>
                <button class="btn btn-primary mx-1 py-1 px-3" @click="setFish(3)">Lv.3</button>
                <button class="btn btn-primary mx-1 py-1 px-3" @click="setFish(4)">Lv.4</button>
            </div>

            <div class="mt-3" style="text-align: center;">
                <span style="font-size: 16px; font-weight: bold; color: white; margin-right: 10px;">Fish Pattern</span>
                <input class="" style="width: 224px; border: 0px; border-radius: 5px;" id="pattern"
                    v-model="userFishPattern" placeholder=" 20,90,20,22 ">
                <div class="mt-2" style="font-size: 10px; color: #fff; text-align: center;">
                    <span @click="isRuler=!isRuler" style="font-size: 20px; cursor: pointer;"
                        title="yes it is a ruler.">📏</span>
                    <span class="px-1" v-for="(fp, index) in fishPattern">
                        <span :style="{ color: fishPatternIndex==index?'#247aad':'#fff'}">{{fp.y}}</span>
                    </span>
                </div>
            </div>

            <div v-if="true" style="text-align: center; margin-top: 30px;">
                <div class="layout">
                    <div class="game-layout">
                        <div class="seek-a">
                            <div class="stick" :style="{ bottom: stickDisplay + 'px'}">
                                <div class="stick-display" :style="{ height: (stickRangDisplay*2) + 'px' }"></div>
                            </div>
                            <div class="fish" :style="{ bottom: fishDisplay + 'px' }">
                                <div class="fish-display">{{fishs[fishLv-1]}}</div>
                            </div>
                        </div>
                        <div class="seek-b">
                            <div class="percent"
                                :style="{ height: percentDisplay + 'px', 'background-color': percent<99?'rgb('+ (255-(percent*2.5)) +','+(percent*1.8)+','+(percent*2.5)+')':'rgb(1, 247, 255)' }">
                            </div>
                        </div>
                        <div v-show="isRuler" class="ruler"></div>

                        <div class="seek-c text-start">
                            <div v-show="score[0]>0">{{fishs[0]}} x {{score[0]}}</div>
                            <div v-show="score[1]>0">{{fishs[1]}} x {{score[1]}}</div>
                            <div v-show="score[2]>0">{{fishs[2]}} x {{score[2]}}</div>
                            <div v-show="score[3]>0">{{fishs[3]}} x {{score[3]}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- <div v-if="page=='price'" style="text-align: center; margin-top: 50px;">
            <div class="text-white h1">
                <span class="mr-2">GIL</span> <span>${{ parseFloat(gil.price).toFixed( 5 ) }}</span>
            </div>
            <div class="text-white">
                <span class="mr-2"></span> <span>฿{{ parseFloat(gil.price*33).toFixed( 2 ) }}</span>
            </div>
        </div> -->
        <div v-if="page=='comment'" style="text-align: center; margin-top: 50px;">
        </div>
        
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <div class="row justify-content-center text-center text-white h5">
                        <div class="col-12 col-lg-4 mb-2">
                            <span>GIL</span>
                            <input class="" style="width: 120px; border: 0px; border-radius: 5px; text-align: center;" v-model="gilAmount" type="number">
                        </div>
                        <div class="col-12 col-md-4 col-lg-2">${{ parseFloat(gil.price * gilAmount).toFixed( 3 ) }}</div>
                        <div class="col-12 col-md-4 col-lg-2">฿{{ parseFloat(gil.price * gilAmount * 33).toFixed( 3 ) }}</div>
                        <div class="col-12 col-md-4 col-lg-2">¥{{ parseFloat(gil.price * gilAmount * 115).toFixed( 3 ) }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="background" :style="{ 'background-color': isDarkmode?'rgb(45, 56, 71)':'rgb(119 174 237)'}"></div>

    </div>
    <!-- END APP -->


    <div class="text-center mt-5">

        <div id="fb-root"></div>

        <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v12.0&appId=192106223075360&autoLogAppEvents=1"
            nonce="DmLA8mHV"></script>

        <div class="my-2">
            <div class="fb-like" data-href="https://naruedom.github.io/fishing-game" data-width=""
                data-layout="standard" data-action="like" data-size="small" data-share="true" data-colorscheme="dark">
            </div>
        </div>

        <div class="fb-comments" data-href="https://naruedom.github.io/fishing-game" data-width="435" data-numposts="2"
            data-colorscheme="dark"></div>

    </div>

    <div class="text-center">
        <a href="https://info.flagcounter.com/mGVN"><img src="https://s05.flagcounter.com/count/mGVN/bg_bed7ef/txt_000000/border_bed7ef/columns_6/maxflags_24/viewers_3/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <div id="sfc3l5z4dwubrq6kz3qwfnutgbln5yhm5r1"></div>

    <div class="text-center my-3">
        <a href="https://www.freecounterstat.com" title="visitors">
            <img src="https://counter2.stat.ovh/private/freecounterstat.php?c=3l5z4dwubrq6kz3qwfnutgbln5yhm5r1"
                alt="visitors">
        </a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>

</body>

</html>