.layout {
    height: 400px;
    z-index: 5;
}

.game-layout {
    position: absolute;
    left: 45%;
    width: 100px;
    height: 400px;
}

.seek-a {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 35px;
    height: 410px;
    background-color: #fff;
    border-radius: 2px;
    border: 5px groove rgb(255, 201, 121);
}

.seek-b {
    position: absolute;
    left: 50px;
    top: 0px;
    width: 35px;
    height: 410px;
    background-color: #fff;
    border-radius: 2px;
    border: 5px groove rgb(255, 201, 121);
}

.ruler {
    z-index: 2;
    background-color: rgb(235, 179, 95);
    position: absolute;
    left: 50px;
    top: -500px;
    width: 150px;
    height: 1500px;
    box-shadow: 2px 2px 2px 2px;
    border-left: rgb(185, 121, 25) dashed 5px;
    border-right: rgb(255, 234, 167) double 20px;
}

.seek-c {
    position: absolute;
    font-size: 20px;
    color: #000;
    left: 100px;
    top: 0px;
    width: 100px;
    height: 400px;
}

.fish {
    position: absolute;
    left: 1px;
    width: 35px;
    bottom: 200px;
    background-color: rgb(0, 0, 0);
}

.fish-display {
    z-index: 3;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    font-size: 18px;
    /* background-color: rgb(255, 174, 0); */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.stick {
    position: absolute;
    left: 0px;
    width: 35px;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    z-index: 1;
}

.stick-display {
    margin: 0;
    position: absolute;
    width: 25px;
    background-color: rgb(0, 235, 39);
    z-index: 2;
    border-radius: 2px;
    opacity: 0.8;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-bottom: 3px solid rgb(27, 153, 31);
}

.percent {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 25px;
    height: 100px;
    background-color: rgb(1, 124, 255);
    border-radius: 2px;
}

.btn-rod {
    color: #fff;
    width: 50px;
    border-radius: 10px;
    border: rgb(255, 123, 0);
    background-color: rgb(255, 123, 0);
    cursor: pointer;
}

.btn-rod:hover {
    background-color: rgb(255, 187, 0);
}

.btn-fish {
    color: #fff;
    width: 50px;
    border-radius: 10px;
    border: rgb(0, 166, 255);
    background-color: rgb(0, 166, 255);
    cursor: pointer;
}

.btn-fish:hover {
    background-color: rgb(0, 204, 255);
}

.fb-comments {
    background-color: #bed7ef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.flagcounter > a > img {
    background-color: #bed7ef;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.win-layout {
    background-color: rgba(0, 0, 0, 0.7);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 6;
}

.body {
    background-color: rgb(169, 169, 169);
}

.background {
    z-index: -1;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(119 174 237); */
    background-color: rgb(45, 56, 71);
}

